*{
    margin: 0;
    padding: 0;
    
}




nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:  auto;
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    position: relative;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(149, 0, 255);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.section1 img {
    max-width: 100%;
    height: auto;
    width: 100%;
    min-height: 300px; 
}







.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    min-height: 50vh; 
    
}


.content {
    display: flex;
    align-items: center;
    max-width: 1200px; 
    align-items: flex-start;
}

.content img {
    max-width: 100%; 
    height: auto; 
    margin-right: 20px; 
    width: 500px;
}



.content article {
    flex: 1;
    color: blueviolet;
}



@media screen and (max-width: 900px) {
    .section2 .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .section2 article {
      order: 2;
    }
  
    .section2 figure {
      order: 1;
      margin-top: 20px; 
    }
  }


  /* ... Outras regras de estilo ... */

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 0, 84);
    padding: 20px; /* Adicionei um preenchimento para melhor aparência em telas menores */
    max-width: 100%; /* Ou defina um valor máximo desejado, por exemplo, max-width: 800px; */
    flex-wrap: wrap; /* Controla a quebra de linha dos elementos */
    min-height: 50vh; 

}

.section3 figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; /* Controla a quebra de linha dos elementos dentro da figure */
}

.section3 img {
    max-width: 100%;
    height: 50%;
    margin: 30px;
    border-radius: 50%;
}

/* ... Outras regras de estilo ... */


@media screen and (max-width: 1120px) {
    .foto1{
        width: 100%;
    }
}


/* ... Outras regras de estilo ... */




.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.section4 article {
    text-align: center;
    max-width: 600px;
}

.section4 h1 {
    font-size: 24px;
    margin-bottom: 10px;
    float: left;
    color: rgb(255, 255, 255);
}

.section4 p {
    font-size: 30px;
    line-height: 1.5;
    float: left;
    text-align: justify;
    color: blueviolet;
}
